In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kachug,RU,2021-09-22 20:31:10,53.9606,105.8817,35.08,92,81,3.67
1,1,Hilo,US,2021-09-22 20:31:10,19.7297,-155.0900,82.27,81,90,8.05
2,2,Boralday,KZ,2021-09-22 20:31:10,43.3578,76.8594,55.26,41,75,4.47
3,3,Minuri,PH,2021-09-22 20:31:11,16.5350,121.8574,73.27,91,62,1.70
4,4,Zelenogorskiy,RU,2021-09-22 20:31:11,55.0333,87.0000,34.32,99,100,3.00

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# To remove the negatives.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  50
What is the maximum temperature you would like for your trip?  90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.dropna().loc[(city_data_df["Max Temp"] <= 90) &
                                       (city_data_df["Max Temp"] >= 50)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hilo,US,2021-09-22 20:31:10,19.7297,-155.0900,82.27,81,90,8.05
2,2,Boralday,KZ,2021-09-22 20:31:10,43.3578,76.8594,55.26,41,75,4.47
3,3,Minuri,PH,2021-09-22 20:31:11,16.5350,121.8574,73.27,91,62,1.70
5,5,Puerto Ayora,EC,2021-09-22 20:31:12,-0.7393,-90.3518,80.56,84,74,10.74
6,6,Victoria,HK,2021-09-22 20:30:08,22.2855,114.1577,85.98,81,46,1.99
8,8,Avarua,CK,2021-09-22 20:31:13,-21.2078,-159.7750,75.25,73,75,6.91
9,9,Hithadhoo,MV,2021-09-22 20:31:13,-0.6000,73.0833,82.24,74,100,18.68
11,11,Atuona,PF,2021-09-22 20:31:14,-9.8000,-139.0333,77.79,73,26,20.96
14,14,Albany,US,2021-09-22 20:27:03,42.6001,-73.9662,79.81,72,85,10.31
15,15,Sayyan,YE,2021-09-22 20:31:15,15.1718,44.3244,63.12,34,68,5.08

In [12]:
# Determine if there any null values.
preferred_cities_df.count()

City_ID       370
City          370
Country       370
Date          370
Lat           370
Lng           370
Max Temp      370
Humidity      370
Cloudiness    370
Wind Speed    370
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1           Hilo      US     82.27  19.7297 -155.0900
2       Boralday      KZ     55.26  43.3578   76.8594
3         Minuri      PH     73.27  16.5350  121.8574
5   Puerto Ayora      EC     80.56  -0.7393  -90.3518
6       Victoria      HK     85.98  22.2855  114.1577
8         Avarua      CK     75.25 -21.2078 -159.7750
9      Hithadhoo      MV     82.24  -0.6000   73.0833
11        Atuona      PF     77.79  -9.8000 -139.0333
14        Albany      US     79.81  42.6001  -73.9662
15        Sayyan      YE     63.12  15.1718   44.3244

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

{'radius': 5000,
 'type': 'lodging',
 'key': 'AIzaSyAhU6MNRhvpfo9cNvOQMkmGdJYrfaAF-u8'}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hilo,US,82.27,19.7297,-155.0900,Hilo Hawaiian Hotel
2,Boralday,KZ,55.26,43.3578,76.8594,"Zhetysu, Too Zhetysu"
3,Minuri,PH,73.27,16.5350,121.8574,
5,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
6,Victoria,HK,85.98,22.2855,114.1577,Mini Hotel Central
8,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
9,Hithadhoo,MV,82.24,-0.6000,73.0833,Scoop Guest House
11,Atuona,PF,77.79,-9.8000,-139.0333,Villa Enata
14,Albany,US,79.81,42.6001,-73.9662,
15,Sayyan,YE,63.12,15.1718,44.3244,متنزه و بحيرة سيان

In [24]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

# Description List: <dl>
    # Description Term: <dt>
        # Description Definition: <dd>
# Description Term: <dt>
    # Description Definition: <dd>
    
# plant_info = [info_box_template.format(**plant) for plant in nuclear_power_plants]

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))