## Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Akhmim,EG,26.5622,31.7450,86.20,37,0,14.32,clear sky
1,1,Karwar,IN,14.8000,74.1333,77.59,87,98,2.21,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,82.56,68,100,17.74,overcast clouds
3,3,Hofn,IS,64.2539,-15.2082,42.82,56,90,11.50,overcast clouds
4,4,Bathsheba,BB,13.2167,-59.5167,88.41,66,75,12.66,broken clouds

In [3]:
# Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 90

In [4]:
# Filter the city_data_df DataFrame using the input statements to create a new DataFrame.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= 90) & (city_data_df["Max Temp"] >= 50)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Akhmim,EG,26.5622,31.7450,86.20,37,0,14.32,clear sky
1,1,Karwar,IN,14.8000,74.1333,77.59,87,98,2.21,overcast clouds
2,2,Hithadhoo,MV,-0.6000,73.0833,82.56,68,100,17.74,overcast clouds
4,4,Bathsheba,BB,13.2167,-59.5167,88.41,66,75,12.66,broken clouds
6,6,Cidreira,BR,-30.1811,-50.2056,66.13,75,31,10.22,scattered clouds

In [5]:
# Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                499
City                   499
Country                494
Lat                    499
Lng                    499
Max Temp               499
Humidity               499
Cloudiness             499
Wind Speed             499
Current Description    499
dtype: int64

In [6]:
# Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                494
City                   494
Country                494
Lat                    494
Lng                    494
Max Temp               494
Humidity               494
Cloudiness             494
Wind Speed             494
Current Description    494
dtype: int64

In [7]:
# Create DataFrame to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Akhmim,EG,86.20,clear sky,26.5622,31.7450,
1,Karwar,IN,77.59,overcast clouds,14.8000,74.1333,
2,Hithadhoo,MV,82.56,overcast clouds,-0.6000,73.0833,
4,Bathsheba,BB,88.41,broken clouds,13.2167,-59.5167,
6,Cidreira,BR,66.13,scattered clouds,-30.1811,-50.2056,
7,Arraial Do Cabo,BR,75.16,clear sky,-22.9661,-42.0278,
8,Yambio,SS,67.24,overcast clouds,4.5721,28.3955,
9,Hasaki,JP,70.29,overcast clouds,35.7333,140.8333,
10,Tiznit,MA,67.08,clear sky,29.5833,-9.5000,
11,Vaini,TO,68.16,few clouds,-21.2000,-175.2000,

In [8]:
# Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [9]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [10]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Akhmim,EG,86.20,clear sky,26.5622,31.7450,برج الماسة السكني
1,Karwar,IN,77.59,overcast clouds,14.8000,74.1333,Netalco Connects
2,Hithadhoo,MV,82.56,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,Bathsheba,BB,88.41,broken clouds,13.2167,-59.5167,Atlantis Hotel
6,Cidreira,BR,66.13,scattered clouds,-30.1811,-50.2056,Hotel Castelo
7,Arraial Do Cabo,BR,75.16,clear sky,-22.9661,-42.0278,Pousada Porto Praia
8,Yambio,SS,67.24,overcast clouds,4.5721,28.3955,Naivasha Hotel
9,Hasaki,JP,70.29,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
11,Vaini,TO,68.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
12,Isfana,KG,50.56,clear sky,39.8386,69.5306,Sayakat

In [11]:
# Create the output File (CSV)
output_data_file = "Weather_Database/WeatherPy_vacation.csv"
# Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
max_temp = clean_hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))